.flexRowContent--classheader {
   
    background-color: #1b1a1a;
}

.flexRowContent--classfooter {
    margin-bottom: 20%;
}


.flexRow {
    background-color: #1b1a1a;
}

.flexRowContent {
    width: 100%;
    color: white;
    background-color: #0B0A14;
}

.flexCol {
    max-width: 120% !important;
    margin-top: 5%;
    margin-left: -265%;
}

.caretIcon {
    bottom: -40px;
    color: #59ff00;
}

.flexColChild {
    width: 90%;
    height: 75px;
    margin-left: 15%;
}

.flexCol {
    margin-left: 5%;
}

.stretchChildrenWidth {
    margin-left: -5%;
}

