.imageElement {border-radius: 2rem;}

.searchBarContainer {margin-left: 200px;max-width: 200px;}

.logoImage {margin-left: -50px;}

.listPrice {
    color: #ffffff;
}

.sellingPrice {
    color: #58FD03;
}




