.flexRowContent--classheader {
   
    background-color: #1b1a1a;
}

.flexRowContent--classfooter {
    margin-bottom: 20%;
}


.flexRow {
    background-color: #1b1a1a;
}

.flexCol {
    max-width: 120% !important;
    margin-top: 5%;
    margin-left: -265%;
}

.caretIcon {
    bottom: -40px;
    color: #59ff00;
}