.flexRowContent {
    background-color: #212121; 
}

.flexCol {
    max-width: 120% !important;
    margin-top: 5%;
    margin-left: -265%;
}

.caretIcon {    
    bottom: -40px;
    color: #59ff00;
}

