.slideChildrenContainer,
.slideChildrenContainer--carosel {
    background-color: #303030;
}

.paginationDot--isActive {
    background-color: #59ff00;
}


.caretIcon {
    color: #58FF00;
}

.sliderArrows {    
    margin-top: 20%;
    padding: 0 40% 0 40%;
}