.imageElement {
    max-width: 100%;
    border-color: tomato;
    border-radius: 100px;
}

.searchBarContainer {
    margin-left: 200px;
    max-width: 200px;
}

.logoImage {
    margin-left: -100px;
}