.imageElement {
    width: 65%;
    height: 150%;
    border-radius: 2rem;
    
    }

.searchBarContainer {margin-left: 200px;max-width: 200px;}

.logoImage {margin-left: -50px;}

.listPrice {
    color: black;
}

.sellingPrice {
    color: black;
    font-weight: bold;
}

.container {
    width:50%;
}

.installmentsPrice {
    color: black;
}

.autoCompleteOuterContainer {
    
    border-color: #59FF00;
}

.serachBarContainer {
    width: 100%;
    
}





